
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
          <h3 class="card-title">Barra de Progreso</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow] = "progreso" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso +'%'" ></div>
          </div>
          <br>
          <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow] = "progreso" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso +'%'" ></div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
          
            <app-incrementador [leyenda]="'Progress Azul'" [progreso]="20"></app-incrementador>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
            
            <app-incrementador [leyenda]="'Progress Verde'"></app-incrementador>
  
        </div>
      </div>
    </div>
  </div>