<h3> {{ leyenda }}</h3>
<div class="input-group">
  <div class="input-group-prepend">
      <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(-5)">
        <i class="mdi mdi-minus"></i>
      </button>
    </div>
  <input type="text" class="form-control" name="progreso" [(ngModel)] = "progreso" >
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(5)">
        <i class="mdi mdi-plus"></i>
    </button>
  </div>
</div>